/* FOR SEARCH RESULTS PAGE */
.card {
	background-color: #DDD;
	padding: 1em;
	margin: 1em;
}

.card img {
	float: left
}

.card .title {
	font-weight: bold;
}

/* FOR WIKIPEDIA CARD */
.wikipedia .main {
	display: block;
	padding: 1em;
	color: inherit;
	text-decoration: none;
	background-color: #CCC;
	margin-bottom: 1em;
}
.wikipedia .main:hover {
	background-color: #BBB;
}


